.contact_header{
    background: url(/images/friendly-black-psychologist-lady-talking-with-soldier-woman-during-therapy-session.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form_section{
    overflow: hidden;

    .a_img {
        position: absolute;
        width: 80%;
        z-index: -1;
    
        @include mediaQuery(480px) {
          width: 50%;
        }
    
        @include mediaQuery(768px) {
          width: 40%;
        }
    
        @include mediaQuery(992px) {
          width: 30%;
        }
      }
    
      .img_av2 {
        bottom: 400px;
        right: -110px;
    
        @include mediaQuery(480px) {
          right: -90px;
        }
    
        @include mediaQuery(768px) {
          width: 50%;
          right: -110px;
          bottom: 250px;
        }
    
        @include mediaQuery(992px) {
          width: 40%;
        }
      }
    
      .img_av3 {
        bottom: -50px;
        left: -50px;
    
        // @include mediaQuery(480px){
        //     right: -180px;
        // }
    
        // @include mediaQuery(768px){
        //     right: -150px;
        // }
    
        // @include mediaQuery(992px){
        //     width: 30%;
        // }
      }
    

    .form_controls{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .form-control{

        @include mediaQuery(600px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
        }

        label{
            display: block;
            color: $secondary_color;
        }

        input, select{
            width: 100%;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            outline: none;
            border: 1px solid $third_color;
            color: #302d2d;
        }
    }

    .form_btn{
        display: flex;
        justify-content: flex-end;

        input{
            background-color: $primary_color;
            padding: 0.5rem 2rem;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}